/* Importação da fonte Axiforma via CDN */
@import url('https://fonts.cdnfonts.com/css/axiforma.css');

/* Importação das fontes Livvic */
@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Importação das fontes Amandine (arquivos locais) */
@font-face {
  font-family: 'Amandine';
  src: url('./fonts/Amandine_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Amandine';
  src: url('./fonts/Amandine_Light_Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Amandine';
  src: url('./fonts/Amandine_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Amandine';
  src: url('./fonts/Amandine_Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Amandine';
  src: url('./fonts/Amandine_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Amandine';
  src: url('./fonts/Amandine_Medium_Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Amandine';
  src: url('./fonts/Amandine_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Amandine';
  src: url('./fonts/Amandine_Bold_Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Axiforma', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
}